.account {
  padding: 80px 0px 140px;
  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;
    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 50px;
    }
  }
  &__h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 16px;
    margin-top: 20px;
  }
  &__text {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    padding-left: 35px;
  }
  &__red {
    color: #db4444;
  }
  &__title {
    color: #db4444;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }
  &__right {
    padding-top: 25px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: flex-end;
  }
  &__h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }
  &__btn {
    padding: 16px 48px;
    background-color: #db4444;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}
